page-login {
}

hr {
    height: 1px !important;
    background :#ddd !important;
    display: block !important;
    font-size: 0.2em !important;
    visibility: visible !important;
}

.btn {
    margin-top: 30px !important;
    display: block;
}